$default-font: 'Open Sans', sans-serif;
$heading-font: 'Raleway', sans-serif;

$font-size: 14px;
$medium-font-size: 12px;
$small-font-size: 10px;
$large-font-size: 24px;

$alternative-font-size: 16px;
$line-height: 20px;
$letter-spacing: 0px;

$regular-font-weight: 300;
$bold-font-weight: 600;

$heading-medium-font-weight: 400;
$heading-bold-font-weight: 500;
$heading-heavy-font-weight: 600;
