.banner {
    display: flex;
    img {
        width: 100%;
    }
}

.main {
    &__features {
        .element {
            float: left;
            shape-outside: circle(50%);
            width: 200px;
            height: 200px;
        }
        ul {
            height: 100px;
        }
    }
    ol {
        padding-left: 25px;
        list-style: decimal;
        li {
            font-weight: $heading-heavy-font-weight;
            font-size: $alternative-font-size;
            margin-bottom: 20px;
            p, figcaption {
                font-weight: $heading-medium-font-weight;
                font-size: $medium-font-size;
            }
        }
    }
}