.header {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    .logo {
        order: 1;
    }
    nav {
        order: 2;
        background: $orange;
        padding: 10px 0;
        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            margin-left: 0;
            @media (max-width: $small) {
                justify-content: space-around;
            }
            li {
                margin-bottom: 0;
                a {
                    color: #fff;
                    padding: 20px;
                    text-decoration: none;
                    font-weight: bold;
                    &:hover {
                        color: #333;
                    }
                    @media (max-width: $small) {
                        padding: 0;
                    }
                }
            }
        }
    }
}
